<p><%= @user.email %>様</p>
<p>===============================================</p>

<p>パスワード再発行のご依頼を受け付けました。</p>

<p>こちらのリンクからパスワードの再発行を行ってください。</p>
<p><a href="<%= @url %>"><%= @url %></a></p>

<p>===============================================</p>
<p>このメールは送信専用のメールアドレスから送信されているため、返信できません。</p>
<p>お問い合わせに関しては、<a href="https://twitter.com/gachadiary38971">こちらのX（旧Twitter）アカウント</a>よりお願いいたします。</p>
